body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.coin_display{
    font-size: 50px;
    background: radial-gradient(#c0c0c0 10%, #939393);
    height: 500px;
    width: 500px; 
    border-radius: 50%; 
    border:5px solid black;
    display: flex;
    justify-content: center;
    align-items: center; 
   
}  


.inbetween{
    font-size: 50px;
    background-color: chartreuse; 
    height: 500px;
    width: 500px; 
    border-radius: 50%; 
    animation: example 1500ms ;
    transition: 1200ms ease;
}


.coin_display2{
    font-size: 50px;
    background: radial-gradient(#c0c0c0 10%, #939393);
    height: 500px;
    width: 500px; 
    border-radius: 50%; 
    display: flex;
    border:5px solid black;
    justify-content: center;
    align-items: center;
} 

.content{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    gap: 50px;
    margin: 50px;
} 

button {
    font-size: 30px;
    padding: 20px; 
    border: none; 
    cursor: pointer;
}

@keyframes example {
    from {scale: 1;
        background:radial-gradient(#8e8e8e 10%, #555555);
        rotate: 0 1 0 0deg;}
    to {scale:0.2;
        background:radial-gradient(#8e8e8e 10%, #555555);
        rotate: 0 1 0 720deg;}
  }


