.coin_display{
    font-size: 50px;
    background-color: chartreuse; 
    height: 500px;
    width: 500px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center; 
   
}  


.inbetween{
    font-size: 50px;
    background-color: chartreuse; 
    height: 500px;
    width: 500px; 
    border-radius: 50%; 
    animation: example 1200ms ;
    animation-direction: alternate;
    transition: 1000ms ease;
}


.coin_display2{
    font-size: 50px;
    background-color: rgb(212, 127, 0); 
    height: 500px;
    width: 500px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
} 

.content{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    gap: 50px;
    margin: 50px;
} 
button{
    font-size: 30px;
    padding: 20px; 
    border: none; 
    background: linear-gradient(rgba(255, 255, 255, 0.026),rgb(84, 23, 239));
    cursor: pointer;
    transition: 5000ms ease-in-out;
}
button:hover{
    font-size: 30px;
    padding: 20px; 
    border: none; 
    cursor: pointer;
    background: linear-gradient(rgb(84, 23, 239) 0%, rgba(255, 255, 255, 0.026) 100%);
    transition: 5000ms ease-in-out;
}

@keyframes example {
    from {scale: 1;
        rotate: 0 1 0 0deg;}
    to {scale:0.5;
        rotate: 0 1 0 360deg;}
  }


